<!-- <div id="progressBar">
	<div class="loader"></div>
</div> -->
<div class="breadcrumbs">
    <ul>
        <li><a title="Home">Home</a></li>
        <li><a ui-sref="dashboard" title="Dashboard">Dashboard</a></li>
    </ul>
</div>
<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Dashboard</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="mini-stats-sec">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="widget-controls">
                                <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                            </div>
                            <!-- Widget Controls -->
                            <div class="mini-stats ">
                                <span class="red-skin"><i class="fa fa-area-chart"></i></span>
                                <p><i class="fa  fa-arrow-up up"></i> Today Views</p>
                                <h3>22,520</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="widget-controls">
                                <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                            </div>
                            <!-- Widget Controls -->
                            <div class="mini-stats ">
                                <span class="sky-skin"><i class="fa fa-usd"></i></span>
                                <p><i class="fa  fa-arrow-down down"></i> Revenue</p>
                                <h3>1,425</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="widget-controls">
                                <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                            </div>
                            <!-- Widget Controls -->
                            <div class="mini-stats ">
                                <span class="purple-skin"><i class="fa fa-bullhorn"></i></span>
                                <p><i class="fa  fa-arrow-down down"></i> Item Sales</p>
                                <h3>6,101</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="widget-controls">
                                <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                            </div>
                            <!-- Widget Controls -->
                            <div class="mini-stats ">
                                <span class="pink-skin"><i class="fa fa-shopping-cart"></i></span>
                                <p><i class="fa  fa-arrow-up up"></i> New Orders</p>
                                <h3>5,218</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mini stats Sec -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="widget">
                <div class="pie-chart-sec">
                    <div class="widget-title">
                        <h3>Browser Viewed</h3>
                        <span>Most Browser viewed</span>
                    </div>
                    <div class="most-browsers">
                        <div class="pieID pie">
                        </div>
                        <ul class="pieID legend">
                            <li>
                                <em>Chrome</em>
                                <span>718</span>
                            </li>
                            <li>
                                <em>Firefox</em>
                                <span>531</span>
                            </li>
                            <li>
                                <em>Opera</em>
                                <span>868</span>
                            </li>
                            <li>
                                <em>Safari</em>
                                <span>344</span>
                            </li>
                            <li>
                                <em>Explorer</em>
                                <span>1145</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Widget -->
        </div>
        <div class="col-md-4">
            <div class="widget">
                <div class="revenew-browser">
                    <div class="widget-title">
                        <h3>Revenew by Browser</h3>
                        <span>Which browser is</span>
                    </div>
                    <ul>
                        <li>
                            <div class="browser-detail">
                                <!--<img src="http://placehold.it/30x30" alt="" />-->
                                <h3>Chrome</h3>
                                <span>45% <i class="fa fa-arrow-up up"></i></span>
                                <span>30% <i class="fa fa-arrow-down down"></i></span>
                            </div>
                            <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                        </li>
                        <li>
                            <div class="browser-detail">
                                <!--<img src="http://placehold.it/30x30" alt="" />-->
                                <h3>Firefox</h3>
                                <span>24% <i class="fa fa-arrow-up up"></i></span>
                                <span>34% <i class="fa fa-arrow-down down"></i></span>
                            </div>
                            <span class="line">7,5,10,6,8,4,6,2,5,4</span>
                        </li>
                        <li>
                            <div class="browser-detail">
                                <!--<img src="http://placehold.it/30x30" alt="" />-->
                                <h3>Explorer</h3>
                                <span>89% <i class="fa fa-arrow-up up"></i></span>
                                <span>12% <i class="fa fa-arrow-down down"></i></span>
                            </div>
                            <span class="line">6,4,7,9,2,5,10,6,2,7</span>
                        </li>
                    </ul>
                </div>
                <!-- Our Clients Sec -->
            </div>
            <!-- Widget -->
        </div>
        <div class="col-md-4">
            <div class="widget">
                <div class="social-counter">
                    <div class="widget-title">
                        <h3>Social Visitor</h3>
                        <span>Lets count this</span>
                    </div>
                    <div class="social-widget">
                        <ul>
                            <li>
                                <i class="fa fa-facebook"></i> <span>Today</span>
                                <h5>2,565 <i class="fa fa-arrow-up up"></i></h5>
                            </li>
                            <li>
                                <i class="fa fa-google-plus"></i> <span>Today</span>
                                <h5>156 <i class="fa fa-arrow-down down"></i></h5>
                            </li>
                            <li>
                                <i class="fa fa-pinterest"></i> <span>Today</span>
                                <h5>1,456 <i class="fa fa-arrow-down down"></i></h5>
                            </li>
                            <li>
                                <i class="fa fa-twitter"></i> <span>Today</span>
                                <h5>701 <i class="fa fa-arrow-up up"></i></h5>
                            </li>
                        </ul>
                        <span>TOTAL : 58,250</span>
                    </div>
                    <!-- Social Widget -->
                </div>
                <!-- Social Counter -->
            </div>
        </div>
    </div>
</div>
<!-- Panel Content -->