@media (max-width:$screen-xs-max) {
  .info-holder {
      height: auto;
  }
  .first-half {
      width: 100%;
      padding: 0 !important;
      text-align: center;
      &.pull-right, .pull-right {
        float: none !important;
      }
      .mt-18 {
        float: none !important;
        margin: 0;
      }
  }
  .compny {
    text-align: center !important;
  }
  .info-pic {
    position: relative;
    text-align: center;
    margin-top: 15px;
  }
  .who-post-detail > h3 {
    font-size: 16px;
    line-height: 120%;
  }
  .who-post-this > span {
    display: none;
  }
  .info-house {
    right: 28%;
  }
}
