
    <div class="container">

        <form class="form-signin">
            <h2 class="form-signin-heading">Teenpatti Login</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" id="inputEmail" class="form-control" ng-model="data.username" placeholder="Email address" required=""
                autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" ng-model="data.password" placeholder="Password" required="">

            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="memberLogin(data)">Sign in</button>
           
        </form>
        <a ui-sref="registration">Registration</a>
    </div>