<div>
    <a class="btn btn-primary pull-right" ng-click="createBox('Create')">Add New</a>
    <label>{{type.name}} <span ng-show="type.required">*</span></label>
    <span style="float:right;width:200px;"><input type="search" class="form-control" placeholder="Search..." ng-model="search.text"> </span>
</div>
<div class="error-msg" ng-show="formData[type.tableRef].length==0 && type.validation[0] != ''"></div>

<div class="sec">
    <div>
        <table class="table table-input" ng-if="model.length != 0">
            <thead>
                <tr>
                    <th ng-repeat="field in type.fields" ng-if="field.onView">{{field.name}}</th>
                    <th width="150px">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in model | filter:search.text ">
                    <td ng-repeat="field2 in type.fields" ng-if="field2.onView && field2.type == 'selectFromTable'"> {{data[field2.tableRef]}}</td>
                    <td ng-repeat="field2 in type.fields" ng-if="field2.onView && field2.type == 'tags'">{{data[field2.tableRef].name}}
                        <view-field type="field2" value="data"></view-field>
                    </td>
                    <td ng-repeat="field2 in type.fields" ng-if="field2.onView && field2.type != 'tags'">{{data[field2.tableRef]}}
                    </td>
                    <td>
                        <a class="btn btn-primary" ng-click="editBox('Edit',data)">
                                <i class="fa fa-pencil"></i>
                            </a>
                        <a class="btn btn-danger" ng-click="deleteBox($index, model)">
                                <i class="fa fa-trash"></i>
                            </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>