<div class="form-group" fields>
    <label>{{type.name}} <span ng-show="type.required">*</span></label>
    <input type="password" name="{{type.tableRef}}" placeholder="{{type.placeholder}}" ng-model="formData[type.tableRef]" ng-disabled="{{type.disabled}}"
        class="form-control" ng-required="type.required">
    <div class="error-msg" ng-show="detailForm[type.tableRef].$invalid && detailForm[type.tableRef].$touched">Please enter valid {{type.name}}</div>
    <!--<ul class="helper-text">
        <li class="length">Must be at least 8 characters long</li>
        <li class="lowercase">Must contain a lowercase letter</li>
        <li class="uppercase">Must contain an uppercase letter</li>
        <li class="special">Must contain a number or special character</li>
    </ul>-->
</div>
<div class="form-group" fields>
    <!-- <label>Confirm {{type.name}} <span ng-show="type.required">*</span></label>
    <input type="password" name="{{type.tableRef}}" placeholder="{{type.placeholder}}" ng-model="formData['confirm'+type.tableRef]"
        class="form-control" ng-disabled="{{type.disabled}}" ng-required="type.required">
    <div class="error-msg" ng-show="detailForm[type.tableRef].$invalid && detailForm[type.tableRef].$touched">Please enter valid {{type.name}}</div> -->
</div>