<div class="form-group">
    <label>{{type.name}} <span ng-show="type.required">*</span></label>
    <multiple-select name="{{type.tableRef}}" required ng-model="formData[type.tableRef]" ng-name="formData[type.tableRef+'-nameOnly']"
        url="{{type.url}}" api="{{type.searchApi}}" ng-if="!type.filterField" ng-disabled="type.disabled"></multiple-select>
    <multiple-select name="{{type.tableRef}}" required filter='{"{{type.filterField}}":"{{formData[type.filterValue]}}"}' ng-model="formData[type.tableRef]"
        ng-name="formData[type.tableRef+'nameOnly']" url="{{type.url}}" api="{{type.searchApi}}" ng-if="type.filterField" ng-disabled="type.disabled"></multiple-select>
    <div class="error-msg" ng-show="detailForm[type.tableRef].$invalid">Please Select {{type.name}}</div>
</div>